body {
  background-color: #aaa;
}

#board {
  background-color: #333;
  padding: 15px;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}
#board #screen {
  background-color: #bcb;
  padding: 5px;
  text-align: right;
  font-family: Monospace;
  white-space: nowrap;
  overflow: hidden;
}
#board #screen #curr-input {
  font-size: 400%;
}
#board #screen #log {
  font-size: 150%;
}
#board #input {
  width: 100%;
  margin-top: 10px;
  font-family: sans-serif;
  table-layout: fixed;
}
#board #input td {
  text-align: center;
  color: #eee;
  padding: 10px;
  background-color: #555;
}
#board #input td:active {
  background-color: #777;
}
